body {
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;

}
#directions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#659a65;
   margin: 40px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

#searches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.search-item {
    border: 2px solid #659a65;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: fill;
    height: auto;
    width: auto;
    margin: 10px;
    flex-basis: 25%;
    
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchImage {
    object-fit: contain;
}

form {
    widows: 30%;
    float: right;
    padding: 20px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
}

button,
input[type="submit"] {
    background-color: #659a65;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover {
    background: #334e4d;
}

button.active {
    background: #334e4d;
}

@media screen and (max-width: 640px) {

    #wrapper {
        text-align: center;
    }

    #buttons {

        display: inline-block;
        max-width: 100%;
        text-align: center;
        margin: 20px 20px 20px 20px;

    }

    #searchBox {

        display: inline-block;
        overflow: auto;
        text-align: center;
        margin: auto;


    }
/* 
    .searchImage {

        display: inline-block;
        margin: auto;
        width: 100%;
        height: 100%x;

    } */

}